<a href="/"> ← Back to Home</a>

<div class="row">
    <div class="col-sm-4 offset-sm-4">
        <form action="#" id="new-event">
            <legend>New Food Order</legend>

            <div class="mb-3 form-group">
                <label for="order-food" class="form-label">Food</label>
                <input type="text" name="food" class="form-control" id="food" placeholder="Food" required>
            </div>
            <div class="mb-3 form-group">
                <label for="order-drink" class="form-label">Drink</label>
                <input type="text" name="drink" class="form-control" id="drink" placeholder="Drink" required>
            </div>
            <div class="mb-3 form-group">
                <label for="order-condiment" class="form-label">Condiment</label>
                <input type="text" name="condiment" class="form-control" id="condiment" placeholder="Condiment" required>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Place Order</button>
            </div>

        </form>
    </div>
</div>